
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>Auction Site</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />

</head>

<body>
    <div class="request-overlay hidden" id="request-overlay"></div>
    <div class="sr-root">
        <div class="sr-main">
          <header class="sr-header">
            <div class="sr-header__logo"></div>
          </header>
          <div class="sr-payment-summary payment-view">
            <h3 class="order-amount"><a href="{{ url_for('routes.user_details', username=session.get('username')) }}"> {{ session.get('username') }} </a> - <a href="{{ url_for('routes.logout') }}"> logout </a>
              {% if session.is_admin %}  - <a href="{{ url_for('routes.admin') }}"> Admin Console </a> {% endif %}</h3>
            <hr>
            <h1 class="order-amount">Auction List - 
              {% if sort == 'end_time' %}
              <a href="{{ url_for('routes.auction_list', sort='start_time') }}"> Sort by Start Times </a>
              {% else %}
              <a href="{{ url_for('routes.auction_list', sort='end_time') }}"> Sort by End Times </a>
              {% endif %}
            </h1>
            <div class="sr-legal-text" style="text-align: left;">
                <hr>
                <h5>Auctions posted now - <a href="{{ url_for('routes.create_auction') }}"> Create Auction </a></h5>   
                <hr>
                <form method="POST" action="{{ url_for('routes.auction_list', sort=sort) }}">
                  <h3>Search</h3>
                  <input type="text" name="search_term">
                    <button
                    type="submit"
                    style="width: 100%"
                >
                <span id="button-text" >Search</span>
                </button>
                </form>
            </div>
          </div>
          {% for auction in auction_list %}    
          <div class="pricing-option">
              <h1>{{ auction.name }}</h1>
              <hr>
              <h5>{{ auction.item.name }}</h5>   
              <ul>
                  <li>{{ auction.item.description }}</li>
                  <li>Category: {{ auction['item']['category_details']['name'] }}</li>
                  <li>${{ auction.current_bid }} Current Bid</li>
                  <li>${{ auction.buy_now_price }} Buy Now</li>
                  <li>Auction Starts: {{ auction.start_time }} </li>
                  <li>Auction Ends: {{ auction.end_time }} </li>
              </ul>
                <a 
                    href="{{ url_for('routes.get_auction_details', auction_id=auction.id) }}"
                    style="width: 100%"
                >
                <span id="button-text" >Open</span>
            </a>
          </div>
          {% endfor %}

          
        </div>
      </div>
 
    <!-- End Container-->
    </div>

    <!-- JQuery
    ================================================== -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    
    <!-- Mask (For Phone Numbers)
    ================================================== -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mask.js') }}"></script>

    <!-- IN2L
    ================================================== -->
    <script>
    </script>
</body>
</html>