
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>Auction Site</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />

</head>

<body>
    <div class="request-overlay hidden" id="request-overlay"></div>
    <div class="sr-root">
        <div class="sr-main">
          <header class="sr-header">
            <div class="sr-header__logo"></div>
          </header>
          <div class="sr-payment-summary payment-view">
            <h3 class="order-amount"><a href="{{ url_for('routes.user_details', username=session.get('username')) }}"> {{ session.get('username') }} </a> 
              - <a href="{{ url_for('routes.logout') }}"> Logout </a> 
            <hr>
            <h1 class="order-amount">Checkout
            </h1>
            <div class="sr-legal-text" style="text-align: left;">
                <hr>
            </div>
          </div>
          {% if action == 'done' %}
          <div class="pricing-option">
            
                <h1>Thank you for your purchase!</h1>
                <h1><a  href="{{ url_for('routes.auction_list') }}">Find something else to buy</a></h1>
            
          </a>
        </div>         
          {% else %}
          <div class="pricing-option">
              <h1>Total Due: ${{ total_amount }}</h1>
              <hr>
              <form method="POST" action="{{ url_for('routes.purchase') }}">  
                <h5>Cardholder Name:</h5>
                <input type="text" name="billing_name" >
                <h5>Card Number:</h5>
                <input type="text" name="card_num" >
                <h5>Exp Date:</h5>
                <input type="text" name="exp_date" >
                <h5>CSV:</h5>
                <input type="text" name="csv_code" >
                <h5>Address 1:</h5>
                <input type="text" name="billing_address1" >
                <h5>Address 2:</h5>
                <input type="text" name="billing_address2" >
                <h5>City:</h5>
                <input type="text" name="billing_city" >
                <h5>State:</h5>
                <input type="text" name="billing_state" >
                <h5>Zip:</h5>
                <input type="text" name="billing_zip" >
                <input type="text" name="billing_country" value="USA" style="display: none">
                  <button
                      type="submit"
                      style="width: 100%"
                  >
                  <span id="button-text" >Purchase</span>
                  </button>
              </form>
  
            </a>
          </div>
        {% endif %}
          
        </div>
        
      </div>
 
    <!-- End Container-->
    </div>

    <!-- JQuery
    ================================================== -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    
    <!-- Mask (For Phone Numbers)
    ================================================== -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mask.js') }}"></script>

    <!-- IN2L
    ================================================== -->
    <script>
    </script>
</body>
</html>