
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>Auction Site</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />

</head>

<body>
    <div class="request-overlay hidden" id="request-overlay"></div>
    <div class="sr-root">
        <div class="sr-main">
          <header class="sr-header">
            <div class="sr-header__logo"></div>
          </header>
          <div class="sr-payment-summary payment-view">
            <h1 class="order-amount">Login</h1>
            <div class="sr-legal-text" style="text-align: left;">
                <hr>
                <h5>Enter your username and password</h5>   

            </div>
          </div>
          <div class="pricing-option">
              <form action="{{ url_for('routes.signup') }}" method="POST">
              {% if error %}<h4 style="color:red">{{error}}  </h4> 
              <hr>
              {% endif %}
              <ul>
                  <h5>Username:</h5>
                  <input type="text" name="username" id="username">
                  <h5>Password:</h5>
                  <input type="password" name="password">
                  <h5>Email:</h5>
                  <input type="text" name="email">
                  <h5>Address:</h5>
                  <input type="text" name="address_1">
                  <h5>Address 2:</h5>
                  <input type="text" name="address_2">
                  <h5>City:</h5>
                  <input type="text" name="address_city">
                  <h5>State:</h5>
                  <input type="text" name="address_state">
                  <h5>Zip:</h5>
                  <input type="text" name="address_zip">
                  <h5>Is Admin:</h5>
                  <select name="is_admin">
                    <option value="FALSE" selected>No</option>
                    <option value="TRUE">Yes</option>
                  </select>
              </ul>
                <button
                    type="submit"
                    style="width: 100%"
                >
                <span id="button-text" >Submit</span>
                </button>
            </form>
          </div>

          
        </div>
      </div>
 
    <!-- End Container-->
    </div>

    <!-- JQuery
    ================================================== -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    
    <!-- Mask (For Phone Numbers)
    ================================================== -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mask.js') }}"></script>

    <!-- 
    ================================================== -->
    <script>
        $("#username").on({
          keydown: function(e) {
            if (e.which === 32)
              return false;
          },
        });
    </script>
</body>
</html>